

body {
    margin: 0;
    font-family: Arial Rounded MT Bold, Arial, sans-serif;
    background-image: url("images/presentation/fond.png");
    background-position: center;;
}

/* Header */
header {
    background-color: #E0D44A !important;
    color: black !important;
    text-align: center;
    padding: 30px;
    box-shadow: 0 6px 0 #C9BF55 !important;
}

/* Grille */
.menu-container {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

/* Carte LEGO */
.card {
    text-decoration: none;
    color: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 8px 0 rgba(0,0,0,0.3);
    transition: transform 0.1s;
}

/* Image */
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

/* Titre */
.card span {
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

/* Effet LEGO */
.card:hover {
    transform: translateY(3px);
    box-shadow: 0 5px 0 rgba(0,0,0,0.3);
}

/* Header positionné */
header {
    position: relative;
    background-color: #E3000B;
    color: white;
    text-align: center;
    padding: 30px;
    box-shadow: 0 6px 0 #B00009;
}

/* Logo LEGO */
.logo {
    position: absolute;
    top: 40px;
    right: 20px;
    height: 80px;
}

/* Positionnement de la carte */
.card {
    position: relative;
}

/* Texte caché par défaut */
.hover-text {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    opacity: 0;
    transition: opacity 0.2s;
}

/* Apparition au survol */
.card:hover .hover-text {
    opacity: 1;
}


/* Couleurs bas */
.anime span { background-color: #D6313F; }
.culture span { background-color: #91BD48; }
.ninjago span { background-color: #101B6E; }
.info span { background-color: #C9C9BB; }
.cinema span { background-color: #575754; }

.quiz-container {
    background-color: #FFD500;
    width: 60%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 0 #E0BE00;
	 text-align: center;
}

.answers button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#next {
    margin-top: 20px;
    padding: 12px;
    font-size: 16px;
}
  
#question-image {
    display: none;         
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin: 15px auto;
    border-radius: 10px;
}

#question {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align: center;
}

#home {
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background-color: #E3000B;
    color: white;
    cursor: pointer;
    box-shadow: 0 6px 0 #B00009;
}

#home:hover {
    transform: translateY(2px);
    box-shadow: 0 4px 0 #B00009;
}
