body {
    background-color: #222;
}

h1, h2, ul{
    color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}
h1 {
    font-size: 2.7rem;
}
h2 {
    font-size: 1.7rem;
}

p{
    font-family: monospace;
    font-size: 1.1rem;
    color: black;
    margin: auto;
}

.ul-center {
    width: 60%;
    margin: auto;
}

li {
    padding: 0.3rem;
}

h1, h2 {
    text-align: center;
}
.code {
    border : solid #cecece 1px;
    padding: 0.3rem;
    width: 50%;
    margin: auto;
    border-radius: 0.3rem;
    background-color: #444444;
}

.code-span {
    border : solid #cecece 1px;
    border-radius: 0.3rem;
    background-color: #444444;
    font-family: monospace;
    font-size: 1.1rem;
    color: black;
    padding: 0.1rem;
}