body {
    background-color: #222;
}

h1, h2, ul{
    color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}
h1 {
    font-size: 2rem;
}

p{
    font-family: monospace;
}

.ul-center {
    width: 60%;
    margin: auto;
}

h1, h2 {
    text-align: center;
}
.code {
    border : solid #cecece 1px;
    padding-left: 5px;
    width: 50%;
    margin: auto;
    border-radius: 0.3rem;
}